{% set body_class = "band" %}
{% set sitetitle = "Band" %}
{% extends "default.html" %}
{% from "macros/presspics.html" import presspics as presspics %}

{% block content %}
<div class=" {{ combos.sitecontainer }}">
	{% for member in global.band %}
		<section class="bandmember {% if loop.index0 === 1 %} clip-razor bg-black {% endif %}">
			<div class="{{ combos.container }} pt4 pb5 relative flex flex-column flex-row-ns items-center {% if loop.index0 === 1 %}flex-row-reverse-ns {% endif %}">
				<img src="{{ member.image }}" class="db br-100 mw5" alt="{{ member.name }}">
				<div class="ph2 ph4-ns">
					<h2 class="f2 mb2 lh-title">{{ member.name }}</h2>
					<h3 class="mt0 f6 gray tracked ttu fw5">{{ member.instrument | safe }}</h3>
					<p class="mt4 lh-copy measure">{{ member.description }}</p>
				</div>
			</div>
		</section>
	{% endfor %}

	<section id="press" class="{{ combos.container }} lh-copy mt5">
		<h2 class="f2 mb3 lh-title">Pressrelease</h2>
		<div class="grid gc1 gc2-m gg2">
			<div class="measure">
				<h3 class="f4 lt-title">English</h3>
				<p><em>Red Machete</em> is a Rock 'N' Roll power trio finest class from Linz, Austria.</p>
				<p>With furious drums, thunderous bass, heavy guitar and bright vocals a <em>Red Machete</em> show seduces with numerous self-composed songs mixed with rock history classics. AC/DC, Led Zeppelin and Deep Purple are meeting outstanding charm à la Humble Pie, Joe Walsh and John Fogerty.</p>
				<p>Founded in the finest rock pub of central europe many musical commonalities were forged together in 2008 under the name <em>Red Machete</em>.</p>
				<p>2013 their first EP <em>Electric Power</em> was released, in 2016 the debut album <em>Bright Lights</em> followed with a extensive tour across europe.</p>
				<p>Restlessly the band is conquering stages and celebrates a magic atmosphere which is capturing the audience instantly and cheers to the glory days of the seventies.</p>
			</div>
			<div class="measure">
				<h3 class="f4 lt-title">German</h3>
				<p><em>Red Machete</em> ist ein Rock 'N' Roll Power Trio feinster Klasse aus Linz, Österreich.</p>
				<p>Mit Schlagzeug, Bass, Gitarre, sowie dreifachem Gesang verführt eine Show mit <em>Red Machete</em> durch zahlreiche Eigenkompositionen, gemischt mit einigen Klassiker der Rockgeschichte. AC/DC, Led Zeppelin und Deep Purple treffen hier auf extravaganten Charme à la Humble Pie, Joe Walsh und John Fogerty.</p>
				<p>Im besten Rockpub Zentraleuropas wurden musikalische Gemeinsamkeiten im Jahr 2008 zu einer Formation verschmolzen und mit dem Namen <em>Red Machete</em> gekrönt.</p>
				<p>2013 erschien ihre erste EP <em>Electric Power</em>, im Jahr 2016 folgte das Debutalbum <em>Bright Lights</em> mit einer umfangreichen Konzertserie durch Europa.</p>
				<p>Unermüdlich werden die Bühnen erobert und eine mitreissende Atmosphäre zelebriert, die Zuschauer in nur wenigen Augenblicken umfängt und die glorreiche Zeit der 70er Jahre wieder aufleben lässt.</p>
			</div>
		</div>
		<a class="{{ combos.btn }} mv3" href="{{ global.presskit }}">Download Presskit</a>

		<h2 class="f2 mb3 lh-title">Presspics</h2>
		{{ presspics(global.presspics) }}
		<p class="gray f6 mt4 lh-copy">All images shot by Michael Landl.</p>

	</section>
</div>

{% endblock %}
