{% set body_class = "imprint" %}
{% set sitetitle = "Imprint" %}
{% extends "default.html" %}

{% block content %}
<div class="{{ combos.container }} {{ combos.sitecontainer }}">
	<p>RED MACHETE <br/>Ziegeleistraße 49<br/>4020 Linz<br/><a href="mailto:band@redmachete.at">band@redmachete.at</a></p>
	<h2 class="mt5">Google Analytics</h2>
	<p class="measure">This website uses Google Analytics, a web-analytics tool by Google Inc. ("Google") enabling the analysis of use of the site. Data collected by Google Analytics about your use of the website (including your IP address) will be transferred to and stored on a Google server, in the USA. Google will use the information to analyze your use of the website, to create reports on website activities for the website owners and to provide other services linked to the use of websites and the internet. On no account will Google link your IP address to other data gathered by Google. By using this website you agree to Google using your data in the aforementioned way for the aforementioned purpose. Please read <a href="http://www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a> carefully before using our website.</p>
<div class="{{ combos.container }} {{ combos.sitecontainer }}">
{% endblock %}
