{% set body_class = "index" %}
{% set sitetitle = "" %}
{% extends "default.html" %}
{% import "macros/gigtable.html" as gigtable %}

{% block siteheader %}
<div class="spacer vh-100 overflow-hidden flex justify-center items-center relative">
	<picture class="absolute absolute--fill z-0 h0 db bg-near-black" style="padding-bottom: 100vh;">
		<source srcset="images/landing-{{ body_class }}.jpg" media="(min-width: {{ breakpoint_small }})">
		<source srcset="images/landing-{{ body_class }}-xsmall.jpg">
		<img src="images/landing-{{ body_class }}.jpg" alt="Band" class="absolute absolute--fill w-100 h-100 lazyload">
	</picture>
	<a href="#" class="db pa3 mt6-ns br-100 bg-rm-red-70 white grow-large" data-rm-videocontroller='{"youtubeUrl": "//www.youtube.com/embed/YAQmitAbXTo"}' title="Play Video">
		{{ "dist/images/icons/play.svg" | includeFile | safe }}<span class="clip">Play Video</span>
	</a>
</div>
{% endblock %}

{% block content %}
<div class="{{ combos.container }} {{ combos.sitecontainer }}">
	<h1 id="dates" class="f1 lh-title">Dates</h1>
	{{ gigtable.gigtable(concerts2019.title, concerts2019.concerts) }}
	{{ gigtable.gigtable(concerts2018.title, concerts2018.concerts) }}
	{{ gigtable.gigtable(concerts2017.title, concerts2017.concerts) }}
</div>

{% endblock %}
