<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}
{% set breakpoint_small = "30em" %}
{% set combos = {
	container: "mw8 ph3 ph4-ns center",
	sitecontainer: "white pt5 pb6 lh-copy",
	sitetitle: "w-100 f-subheadline f-headline-ns lh-solid white fw2",
	spacer: "spacer vh-100 overflow-hidden flex flex-column justify-end bg-near-black",
	btn: "btn link dim dib ph3 pv2 bg-rm-red white no-underline",
	input: "input-reset pv3 ph3 mt1 mw-100 bg-transparent ba b--gray near-white"
} %}

<body class="page--{{ body_class }} sans-serif">

	{% block sitenav %}
		{% include "partials/sitenav.html" %}
	{% endblock %}

	{% block siteheader %}
	<div class="{{ combos.spacer }}">
		<picture class="absolute absolute--fill z-0">
			<source srcset="images/landing-{{ body_class }}.jpg" media="(min-width: {{ breakpoint_small }})">
			<source srcset="images/landing-{{ body_class }}-xsmall.jpg">
			<img src="images/landing-{{ body_class }}.jpg" alt="Band" class="absolute absolute--fill w-100 h-100">
		</picture>
		<h1 class="{{ combos.container }} {{ combos.sitetitle }} z-1 ts--black-80">{{ sitetitle }}</h1>
	</div>
	{% endblock %}

	<main class="bg-near-black white">
  {% block content %}

	{% endblock %}
	</main>

  {% include "partials/footer.html" %}

</body>
</html>
